	.homeIntro {
			background-color: #1A3056;
			color: #FFFFFF;
			text-align: center;
			padding-left: 25px;
			padding-right: 25px;
			text-size-adjust: 100%;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
		}

		.homeLogo {
			padding-left: 25px;
			padding-right: 25px;
			text-align: center;
			width: 100%;
			float: left;
		}

		.homeMiddleTitle {
			background-color: #F2BD5D;
			color: #000000;
			text-size-adjust: 100%;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.homeMiddleBody {
			background-color: #F2BD5D;
			color: #143059;
			padding-left: 25px;
			padding-right: 25px;
			font-weight: 700;
			text-align: center;
			text-size-adjust: 100%;
			font-size: 2rem;
			line-height: 2.3rem;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.homeMiddlePicture {
			background-color: #F2BD5D;
			color: #000000;
			padding-right: 50px;
			width: 100%;
			float: right;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
		}

		.homeBottomTitle {
			font-size: 2rem;
			font-weight: 900;
			line height: 2.3rem;
			color: #241f21;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
			text-size-adjust: 100%;
			padding-left: 25px;
		}

		.homeBottomBody {
			line height: 2.3rem;
			color: #241f21;
			font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
			text-size-adjust: 100%;
			padding-left: 25px;
			z-index: 2;
		}

		.homeBottomPicture {
			padding-left: 25px;
			float: right;
			z-index: -1;
		}

		.homeBottomButton:link, .homeBottomButton:visited  {
			background-color: #1A3056;
			color: #FFFFFF;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border-radius: 8px;
		}

		.homeBottomButton:hover, .homeBottomButton:active {
			background-color: #1A3056;
		}
